{% extends "task_manage.html" %}
{% block add_task %}
<style>
    fieldset {margin-top: 2%}
    label {vertical-align:middle;display:inline-block;}
    textarea {width: 77%;height: 180px}
</style>

<fieldset>
<form class="form-horizontal"　 action="#">
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label">任务名称：</label>
          <div class="controls">
            <input type="text" id="task_name" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
    </div>

    <div class="control-group">
          <!-- Text input-->
          <label class="control-label">描述：</label>
          <div class="controls">
            <input type="text"  id="describe" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
    </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label">用例：</label>
          <input type="checkbox" id="selectAll">全选/取消</input>
          <div class="caseList" style="overflow-y:scroll; height: 200px; background: #FFFFFF; padding-left: 15px;">

          </div>
    </div>

    <div class="form-actions">
          <button type="button" id="saveTask" class="btn btn-primary">保存</button>
          <button type="reset" class="btn" onclick="window.location.href='/manage/task_manage/'">取消</button>
    </div>
</form>



</fieldset>
<script src="/static/mycase.js"></script>
<script src="/static/vendors/jquery-1.9.1.js"></script>
<script type="text/javascript">
           // 初始化用例列表
           CaseListInit()
           $("#saveTask").click(function () {

		var tName = $("#task_name").val();
		var tDescribe = $("#describe").val();

		if (tName === "") {
			window.alert("任务的名称不能为空！");
		}

		var selectCases = document.querySelectorAll("div.caseList > input");

		var selectCasesId = "";
		for (var i = 0; i < selectCases.length; i++) {
            //判断是否被选中
			if (selectCases[i].checked === true){
                //被选中的ID
				var case_id = selectCases[i].value;
				selectCasesId = selectCasesId + case_id + ","
			}
		}

		console.log("选中的用例id", selectCasesId);

		$.post("/interface/save_task_data/", {
			"task_name": tName,
			"task_describe": tDescribe,
			"task_cases": selectCasesId,
		}, function (resp) {
			if (resp.success === "true"){
				window.alert(resp.message);
			}else{
				window.alert(resp.message);
			}
		});

	});

	// 保存任务
	$("#selectAll").click(function () {

		var selectAll = document.querySelector("#selectAll");
		var allCases = document.querySelectorAll(".caseList > input");
		if(selectAll.checked === true){
			for(var i=0; i < allCases.length; i++){
				allCases[i].checked = true;
			}
		}else{
			for (var i = 0; i < allCases.length; i++) {
				allCases[i].checked = false;
			}
		}
	});

</script>
{% endblock %}


