{% extends "task_manage.html" %}
{% block debug %}
<style>
    fieldset {margin-top: 2%}
    label {vertical-align:middle;display:inline-block;}
    textarea {width: 77%;height: 180px}
</style>

<fieldset>
<form class="form-horizontal"　 action="#">
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label">任务名称：</label>
          <div class="controls">
            <input type="text" id="task_name" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
    </div>

    <div class="control-group">
          <!-- Text input-->
          <label class="control-label">描述：</label>
          <div class="controls">
            <input type="text"  id="describe" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
    </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label">用例：</label>
          <div class="controls">
            <input type="text"  id="case" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
    </div>

    <div class="form-actions">
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="reset" class="btn" onclick="window.location.href='/manage/task_manage/'">取消</button>
    </div>
</form>



</fieldset>
<script src="/static/project.js"></script>
<script src="/static/vendors/jquery-1.9.1.js"></script>
<script type="text/javascript">
           // 初始化项目模块选择框
           ProjectInit('project_name', 'module_name');
           $(document).ready(function(){
            $("#send").click(function(){
                alert("111");
                //var api_name = $("#api_name").val();
                var api_url = $("#api_url").val();
                var req_mode =  $("input[name='req_mode']:checked").val();
                var par_type =  $("input[name='parameter']:checked").val();
                var api_header = $("#api_header").val();
                var api_parameter = $("#api_parameter").val();

                if(api_url ==""){
                    alert("URL不能为空！");
                }

                if(api_parameter==""){
                    api_parameter="{}" ;
                }
                $.ajax({
                      type: 'POST',
                      url: '/interface/api_debug/',
                      data: {
                            "api_url":api_url,
                            "req_mode":req_mode,
                            "par_type":par_type,
                            "api_header":api_header,
                            "api_parameter":api_parameter
                      },
                      async : false,
                      //dataType: 'json',
                      success: function (data) {

                          $("#result").html(data);
                          //alert(data);
                      },
                  });
                })
               $("#save").click(function(){
                var mid = $("select[name='module']").val();
                var api_name = $("#api_name").val();
                var api_url = $("#api_url").val();
                var req_mode =  $("input[name='req_mode']:checked").val();
                var par_type =  $("input[name='parameter']:checked").val();
                var api_header = $("#api_header").val();
                var api_parameter = $("#api_parameter").val();


                if(api_name ==""){
                    alert("名称不能为空！")
                }
                if(api_url ==""){
                    alert("URL不能为空！");
                }

                if(api_parameter==""){
                    api_parameter="{}" ;
                }
                $.ajax({
                      type: 'POST',
                      url: '/interface/save_case/',
                      data: {"mid":mid,
                            "api_name":api_name,
                            "api_url":api_url,
                            "req_mode":req_mode,
                            "par_type":par_type,
                            "api_header":api_header,
                            "api_parameter":api_parameter
                      },
                      async : false,
                      //dataType: 'json',
                      success: function (data) {

                          //$("#result").html(data);
                          alert("保存成功！");
                      },
                  });
                })
            })
</script>
{% endblock %}


