{% extends "case_manage.html" %}
{% block debug %}
<style>
    fieldset {margin-top: 2%}
    label {vertical-align:middle;display:inline-block;}
    textarea {width: 77%;height: 180px}
</style>
  <form class="form-horizontal" action="/interface/debug/" method="get">
    <fieldset>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label">名称：</label>
          <div class="controls">
            <input type="text" id="api_name" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label">URL：</label>
          <div class="controls">
            <input type="text"  id="api_url" class="input-xlarge" style="width: 77%">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">请求方式：</label>
          <div class="controls" style="width: 77%">

            <!-- Inline Radios -->
            <label class="radio inline">
              <input type="radio" value="get" id="get" checked="checked" name="group">
              GET
            </label>
            <label class="radio inline">
              <input type="radio" value="post" id="post" name="group">
              POST
            </label>
            <label class="radio inline">
              <input type="radio" value="pub" id="pub">
              PUT
            </label>
            <label class="radio inline">
              <input type="radio" value="delete" id="delete">
              DELETE
            </label>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">参数类型：</label>
          <div class="controls">

            <!-- Inline Radios -->
            <label class="radio inline">
              <input type="radio" value="form-data" id="form-data" checked="checked" name="group">
              form-data
            </label>
            <label class="radio inline">
              <input type="radio" value="json" id="json" name="group">
              json
            </label>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Header：</label>
          <div class="controls">
            <input type="text" id="api_header" class="input-xlarge" style="width: 77%">
            <p class="help-block" style="color:#8B8989">说明：以字典的方式设置参数，如：{"content-type": "application/json"}</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">参数： </label>
          <div class="controls">
            <input type="text" id="api_parameter" class="input-xlarge" style="width: 77%">
            <p class="help-block" style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1, "name":"名称"}<</p>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">操作：</label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success" id="send">调试</button>
          </div>
        </div>



    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">返回结果：</label>
          <div class="controls">
            <div class="textarea">
                  <textarea id="result" type="" class=""> </textarea>
            </div>
          </div>
        </div>

    </fieldset>
  </form>
{% endblock %}