{% extends "common/nav.html" %}
{% block context %}

<div class="span3" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li>
            <a href="/manage/project_manage/"><i class="icon-chevron-right"></i>项目管理</a>
        </li>
        <li>
            <a href="/manage/module_manage/"><i class="icon-chevron-right"></i>模块管理</a>
        </li>
        <li class="active">
            <a href="/interface/case_manage/"><i class="icon-chevron-right"></i>用例管理</a>
        </li>
        <li>
            <a href="interface.html"><i class="icon-chevron-right"></i>任务管理</a>
        </li>
        <li>
            <a href="interface.html"><i class="icon-chevron-right"></i>mockServer</a>
        </li>
        <li>
            <a href="interface.html"><i class="icon-chevron-right"></i>测试工具</a>
        </li>
    </ul>
</div>

<div class="span9" id="content">
    <div class="row-fluid">
{% if type == 'list'%}
     <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">用例管理</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
               <div class="table-toolbar">
                  <div class="btn-group">
                     <!--<a><button class="btn btn-success" onclick="window.location.href='/interface/debug/'">&nbsp&nbsp&nbsp调&nbsp&nbsp试&nbsp&nbsp<i class="icon-plus icon-white"></i>&nbsp</button></a>-->
                     <a><button class="btn btn-success" onclick="window.location.href='/interface/debug/'">&nbsp&nbsp&nbsp调&nbsp&nbsp试&nbsp&nbsp<i class="icon-plus icon-white"></i>&nbsp</button></a>
                  </div>
                   <div class="btn-group pull-right">
                         <div class="dataTables_filter" id="example_filter">
                             <form method="post" action="/manage/module_manage/">
                              <input class="btn" type="submit" value="搜索">
                              <label><input type="text" aria-controls="example" id="search_project" name="search_project"></label>
                             </form>
                        </div>
                    </div>
               </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>所属项目</th>
                            <th>所属模块</th>
                            <th>用例名称</th>
                            <th>请求方式</th>
                            <th>URL</th>
                            <th>参数</th>
                            <th>预期结果</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in case_list %}
                        <tr class="gradeU">
                            <td>{{forloop.counter }}</td>
                            <td>{{data.ptoject}}</td>
                            <td class="center">{{data.module}}</td>
                            <td class="center">{{data.name}}</td>
                            <td>{{data.req_methed}}</td>
                            <td>{{data.url}}</td>
                            <td>{{data.req_para}}</td>
                            <td>{{data.response_assert}}</td>
                            <td class="center">{{ data.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td class="center" style="width: 60px;">
                                <a onclick="del_id('{{ data.id }}')"><i class="icon-remove"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/interface/edit_case/{{ data.id }}/"><i class="icon-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
     </div>
    </div>
</div>
 {% endif %}
{% if type == "debug" %}
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">在线POSTMAN</div>
    </div>
    <div class="block-content collapse in">
        <div class="span12">
            {% block debug %}

            {% endblock %}
        </div>
    </div>
</div>
{% endif %}
{% if type == "edit" %}
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">在线POSTMAN</div>
    </div>
    <div class="block-content collapse in">
        <div class="span12">
            {% block edit_debug %}

            {% endblock %}
        </div>
    </div>
</div>
{% endif %}
<script src="/static/vendors/jquery-1.9.1.js"></script>
<script>
              function del_id(id) {
                  //alert(11);
                  //id1 = $("#del_id").val();
                  //alert(id);
                  $.ajax({
                      type: 'POST',
                      url: '/interface/del_case/',
                      data: {"id": id},
                      //async : false,
                      //dataType: 'json',
                      success: function (data) {
                          if (data == "1") {
                              alert("删除成功！");
                              window.location.reload();
                          }
                      },
                      error: function () {
                      }
                  });

              }
        </script>
{% endblock context %}