<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   {% for data in project_data %}
                                            <tr class="gradeU">
                                                <td>{{forloop.counter }}</td>
                                                <td>{{data.title}}</td>
                                                <td>{{data.a}}</td>
                                                <td class="center">{{data.b}}</td>
                                                <td class="center" style="width: 60px;">
                                                    <a href="/project_del/?id={{ data.id }}"><i class="icon-remove"></i></a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="/project_edit/?id={{ data.id }}"><i class="icon-pencil"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
</body>
</html>